<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>医疗设备-购物车</title>
	<link rel="stylesheet" media="all" th:href="@{/plugins/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/customer/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/customer/css/main.css}">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到医疗设备</div>
			<div class="fr">
				<div class="login_btn fl">
					<a href="/customer/user_center_info" th:text="${name}">姓名</a>
					<span>|</span>
				</div>
				<div class="user_link fl">
					<a href="/customer/goodsCart">我的购物车</a>
					<span>|</span>
					<a href="/customer/user_center_order">我的订单</a>
					<span>|</span>
				</div>
				<div class="login_btn fl">
					<a href="/login">退出登录</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/customer/images/logo/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

<!--	<div class="total_count">全部商品<em>2</em>件</div>-->
	<div class="search_bar clearfix" style="height: 1005px">
		<table class="layui-hide" id="goodsCartTable" lay-filter="goodsCartTable" ></table>
	</div>

	<ul class="settlements">
		<li class="col01"></li>
		<li class="col02"></li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="goodsAllPrice">0.00</em><br>共计<b id="goodsNum">0</b>件商品</li>
		<li class="col04"><a href="#" id="closeAccount">去结算</a></li>
	</ul>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 徐州工程学院 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

	<script th:src="@{/plugins/layui/layui.js}"></script>
	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>

	<script type="text/html" id="imgtmp">
		<img src="{{d.goodspicture}}" style="width: 200px ; height: 200px" />
	</script>
<!--	<script type="text/html" id="add_sub_num">-->
<!--		<div class="num_add">-->
<!--			<a href="javascript:;" class="add fl">+</a>-->
<!--			<input type="text" class="num_show fl" value="1">-->
<!--			<a href="javascript:;" class="minus fl">-</a>-->
<!--		</div>-->
<!--	</script>-->
	<style type="text/css">
		.layui-table-cell{
			height:100px;
			line-height: 100px;
		}

	</style>
	<script>
		layui.use(['layer','table'], function(){
			var table = layui.table,
					$ = layui.jquery;

			var number = 0;
			var totalPrice = 0;

			table.render({
				elem: '#goodsCartTable'
				,url:'[[@{/customer/showGoodsCart}]]'
				,height: 1000
				,method:"GET"
				,cols: [
					[
					{type: 'checkbox', fixed: 'left',align: "center", title: '全选'}
					,{field:'goodspicture', width:200,align: "center", templet: "#imgtmp", title: '商品图片'}
					,{field:'goodsName', width:200,align: "center", title: '商品名称'}
					,{field:'goodsPrice', width:150,align: "center", title: '商品价格'}
					,{field:'goodsDiscount', width:150,align: "center", title: '商品折扣'}
					,{field:'goodsNumber', width:150,align: "center", title: '商品数量'}
					,{field:'goodsTotalPrice', width:150,align: "center", title: '小计'}
					,{field:'operate', width:141,align: "center", toolbar: '#barDemo', title: '操作'}
				]
				]
			});

			var $ = layui.$, active = {
				reload: function(){
					//执行重载
					table.reload('goodsCartTable', {
						page: {
							curr: 1 //重新从第 1 页开始
						}
					});
				}
			};

			table.on('tool(goodsCartTable)', function(obj){
				console.log(obj);

				var data = obj.data;

				if(obj.event === 'del') {
					layer.confirm('真的删除该商品吗', function (index) {
						obj.del();
						layer.close(index);
						$.post("/customer/delGoodsCartItem",
						{
							goodsCartItemId : data.goodsCartItemId
						},
						function (data,status) {
							if(status == "success"){
								alert(data);
							}else{
								alert("删除失败");
							}
						});
					});
				}
			});

			var goodsJsondata;   //已选择的货物的JSON字符串
			var goodsJsonobj;   //已选择的货物的JSON串对象
			var checkStatus;

			//监听表格复选框选择
			table.on('checkbox(goodsCartTable)', function(obj){

				// alert(obj.data.goodsTotalPrice);
				checkStatus = table.checkStatus('goodsCartTable');
				goodsJsondata = JSON.stringify(checkStatus.data); //转换成JSON串
				// console.log(data);
				goodsJsonobj = eval('(' + goodsJsondata + ')');  //将JSON串转换成对象
				console.log(goodsJsonobj);
				number = 0;
				totalPrice = 0;
				$.each(goodsJsonobj,function (infoIndex1, info1) {
					number ++;
					totalPrice += info1.goodsTotalPrice;
				});

				// alert("个数："+number+"总价格"+totalPrice);
				$("#goodsNum").text(number);
				$("#goodsAllPrice").text(totalPrice.toFixed(2));
			});

			$("#closeAccount").click(function () {

				goodsJsondata = goodsJsondata.substring(1,goodsJsondata.length-1);

				$.post("/customer/saveGoodsInfo",
				{
					goodsJsondata:goodsJsondata
				},
				function(data,status){
					if(status == "success"){
						location.href="/customer/place_order";
					}else{
						alert("订单生成失败");
					}
				});
				// $.ajax({
				// 	url:"/customer/saveGoodsInfo",
				// 	type:"post",
				// 	data:goodsJsondata,
				// 	dataType:"text",
				// 	contentType:"text",
				// 	success:function (result) {
				// 		if(result == "success"){
				// 			location.href="/customer/place_order";
				// 		}else{
				// 			layer.msg("提交订单失败0");
				// 		}
				// 	},
				// 	complete:function(XMLHttpRequest,textStatus){
				// 		//请求发送完成
				// 	},
				// 	error:function(XMLHttpRequest,textStatus){
				// 		layer.msg("提交订单失败1");
				// 		//请求发送失败
				// 	}
				// });
			});
		});
	</script>


</body>
</html>