<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>医疗设备-首页</title>
	<link rel="stylesheet" type="text/css" th:href="@{/customer/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/customer/css/main.css}">
	<script type="text/javascript" th:src="@{/customer/js/jquery-1.12.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/customer/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/customer/js/slide.js}"></script>

</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到医疗器械销售平台!</div>
			<div class="fr">
				<div class="login_btn fl">
					<a href="/customer/user_center_info" th:text="${name}">姓名</a>
					<span>|</span>
				</div>
				<div class="user_link fl">
					<a href="/customer/goodsCart">我的购物车</a>
					<span>|</span>
					<a href="/customer/user_center_order">我的订单</a>
					<span>|</span>
				</div>
				<div class="login_btn fl">
					<a href="/login">退出登录</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl">
			<img th:src="@{images/logo/logo.png}">
		</a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/customer/goodsCart" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">病房护理设备</a></li>
			<li><a href="#model02" class="seafood">放射治疗设备</a></li>
			<li><a href="#model03" class="meet">核医学治疗设备</a></li>
			<li><a href="#model04" class="egg">激光设备</a></li>
			<li><a href="#model05" class="vegetables">透析治疗设备</a></li>
			<li><a href="#model06" class="ice">辅助设备类</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img th:src="@{/customer/images/slideshow/slide01.jpg}" alt="幻灯片"></li>
				<li><img th:src="@{/customer/images/slideshow/slide02.jpg}" alt="幻灯片"></li>
				<li><img th:src="@{/customer/images/slideshow/slide03.jpg}" alt="幻灯片"></li>
				<li><img th:src="@{/customer/images/slideshow/slide04.jpg}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img th:src="@{/customer/images/sileshowright/adv01.jpg}"></a>
			<a href="#"><img th:src="@{/customer/images/sileshowright/adv02.jpg}"></a>
		</div>
	</div>

	<div id="goodsAll">
<!--		<div class="list_model">-->
<!--			<div class="list_title clearfix"></div>-->
<!--			<div class="goods_con clearfix">-->
<!--				<ul class="goods_list fl">-->
<!--					<li>-->
<!--						<h4><a href="#" ></a></h4>-->
<!--						<a href="#"><img ></a>-->
<!--						<div class="prize" ></div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<h4><a href="#" ></a></h4>-->
<!--						<a href="#"><img ></a>-->
<!--						<div class="prize" >￥ 30.00</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<h4><a href="#" ></a></h4>-->
<!--						<a href="#"><img ></a>-->
<!--						<div class="prize" >￥ 30.00</div>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
	</div>

	<!--<div class="footer">-->
		<!--<div class="foot_link">-->
			<!--<a href="#">关于我们</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">联系我们</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">招聘人才</a>-->
			<!--<span>|</span>-->
			<!--<a href="#">友情链接</a>		-->
		<!--</div>-->
		<!--<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>-->
		<!--<p>电话：010-****888    京ICP备*******8号</p>-->
<!--	</div>-->
	<script type="text/javascript" th:src="@{/customer/js/slideshow.js}"></script>
	<script type="text/javascript">

		$(document).ready(function(){
			var number;
			var i = 0;
			var j = 0;
			$.get("/customer/getData",function(data,status){
				// alert("数据: " + data + "\n状态: " + status);
				console.log(data);
				$.each(data,function(infoIndex1, info1){

					if(infoIndex1 == "number"){
						number = info1;
					}else{
						if(i % 5 == 0){
							//输出头部
							// window.alert(j);
							j ++;
							$("#goodsAll").append('<div class="list_model">' +
									'<div class="list_title clearfix"></div>' +
									'<div class="goods_con clearfix">' +
									'<ul class="goods_list fl" id="goods'+j+'">' +
									'</ul>' +
									'</div>' +
									'</div>');
						}
					//	$.each(info1,function (infoIndex2, info2) {
						//输出数据
						console.log(info1);
						$("#goods"+j).append('<li>' +
								'<h4><a href="/customer/goodsParticular/'+info1.goodsid+'" >'+info1.name+'</a></h4>' +
								'<a href="/customer/goodsParticular/'+info1.goodsid+'" ><img src="'+info1.picture+'" ></a>' +
								'<div class="prize" >￥ '+info1.price+'</div>' +
								'</li>');
				//		});
						i ++;
					}
				});
			});
		});

	</script>
</body>
</html>