<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>医疗设备-用户中心</title>
	<link rel="stylesheet" media="all" th:href="@{/plugins/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/customer/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/customer/css/main.css}">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到医疗设备!</div>
			<div class="fr">
				<div class="login_btn fl">
					<a href="/customer/user_center_info" th:text="${name}">姓名</a>
					<span>|</span>
				</div>
				<div class="user_link fl">
					<a href="/customer/goodsCart">我的购物车</a>
					<span>|</span>
					<a href="/customer/user_center_order">我的订单</a>
					<span>|</span>
				</div>
				<div class="login_btn fl">
					<a href="/login">退出登录</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/customer/images/logo/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/customer/user_center_info">· 个人信息</a></li>
				<li><a href="/customer/user_center_order" class="active">· 全部订单</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
			<h3 class="common_title2">全部订单</h3>
			<table class="layui-hide" id="goodsIndentTable2" lay-filter="goodsIndentTable2" lay-data="{initSort: {field:'goodsDatetime', type:'desc'}}" ></table>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 徐州工程学院 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

	<script th:src="@{/plugins/layui/layui.js}"></script>
	<script type="text/html" id="imgtmp">
		<img src="{{d.goodspicture}}" style="width: 200px ; height: 200px" />
	</script>
	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-xs layui-btn-xs" lay-event="pay">支付</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="notarize">确认收货</a>
	</script>
	<style type="text/css">
		.layui-table-cell{
			height:100px;
			line-height: 100px;
		}

	</style>
	<script>
		layui.use(['layer','table'], function() {
			var table = layui.table,
					$ = layui.jquery;
			table.render({
				elem: '#goodsIndentTable2'
				,url:'[[@{/customer/showGoodsIndent2}]]'
				,height: 500
				,method:"GET"
				,cols: [
					[
						{field:'goodspicture', width:110,align: "center", templet: "#imgtmp", title: '商品图片'}
						,{field:'goodsName', width:110,align: "center", title: '名称'}
						,{field:'goodsPrice', width:80,align: "center", title: '价格'}
						,{field:'goodsNumber', width:60,align: "center", title: '数量'}
						,{field:'goodsTotalPrice', width:80,align: "center", title: '小计'}
						,{field:'goodsDatetime', width:170,sort: true ,align: "center", title: '订单时间'}
						,{field:'goodsPayState', width:90,align: "center", title: '支付状态'}
						,{field:'goodsShippingStatus', width:80,align: "center", title: '发货状态'}
						,{field:'goodsFinishState', width:110,align: "center", title: '收货状态'}
						,{field:'operate', width:150,align: "center", toolbar: '#barDemo', title: '操作'}
					]
				]
			});
			var $ = layui.$, active = {
				reload: function(){
					//执行重载
					table.reload('goodsIndentTable2', {
						page: {
							curr: 1 //重新从第 1 页开始
						}
					});
				}
			};

			table.on('tool(goodsIndentTable2)', function(obj){

				var data = obj.data;

				console.log(data);

				if(obj.event === 'pay') {
					layer.confirm('确认支付？', function (index) {
						layer.close(index);
						$.post("/customer/payAndNotarize",
								{
									sign : '1',
									goodsindentitemid:data.goodsindentitemid
								},
								function (data,status) {
									if(status == "success"){
										// alert(data);
										window.location.reload();
									}
								});
					});
				}else if(obj.event === 'notarize'){
					layer.confirm('确认收货？', function (index) {
						layer.close(index);
						var goodsindentitemid = data.goodsindentitemid;
						$.post("/customer/payAndNotarize",
								{
									sign : '2',
									goodsindentitemid:goodsindentitemid
								},
								function (data,status) {
									if(status == "success"){
										// alert(data);
										if(data == "success"){
											layer.open({
												type: 2,
												title: "确认收货成功并评价",
												shadeClose: false,
												shade: 0.5,
												maxmin: false, //开启最大化最小化按钮
												area: ['500px', '400px'],
												content: '/customer/evaluate/'+goodsindentitemid
											});
										}
										// window.location.reload();
									}
								});
					});
				}
			});
		});
	</script>
	
</body>
</html>