<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户登录</title>
  <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
</head>

<body>
    <table id="goods" lay-filter="goods" lay-even lay-skin="line" lay-size="lg"></table>

    <script th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">下架</a>
    </script>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#goods'
                ,height: 312
                ,url: '[[@{/merchant}]]' //数据接口
                ,page: true //开启分页
                ,method:"GET"
                ,cols: [
                    [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'goodsid', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'name', title: '商品名', width:150}
                    ,{field: 'number', title: '数量', width:80, sort: true}
                    ,{field: 'price', title: '单价', width:80}
                    ,{field: 'description', title: '描述', width: 200}
                    ,{field: 'manufacturedate', title: '生产日期', width: 200, sort: true}
                    ,{field: 'manufacturer', title: '生产商', width: 150, sort: true}
                    ,{field: 'durableyears', title: '使用年限', width: 100}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:140}
                ]
                ]
            });

            var $ = layui.$, active = {
                reload: function(){
                    //执行重载
                    table.reload('goods', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            };

            //监听行工具事件
            table.on('tool(goods)', function(obj){
                // console.log(obj);
                var data = obj.data;
                // console.log(data);
                //console.log(obj)
                if(obj.event === 'del'){
                    // window.alert(data.goodsid);
                    layer.confirm('真的删除行么', function(index){
                        obj.del();
                        layer.close(index);
                        $.ajax({
                            url:'/merchant',
                            type:"post",
                            data:{'goodsid':data.goodsid},
                            dataType:"text",
                            contentType:"application/json",
                            success:function(msg){
                                alert(msg);
                                if(msg == "success"){

                                }
                                window.location.reload();
                            },
                            error:function (msg) {
                                alert("错误");
                                window.location.reload();
                            }
                        })
                    });
                } else if(obj.event === 'edit'){
                    // window.alert(data.goodsid);
                    // active.toedit("徐州工程学院教学工作量核算系统-修改课程信息",data.id);
                }
            });
        });
    </script>
</body>

</html>